.buttonsContainer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonsContainer button:hover {
    background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.buttonsContainer button:active {
    background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 82%);
}

.buttonsContainer button:disabled {
    background-color: var(--disabled-color);
}